_version.py

.sw*
*.swp
env*/*
__pycache__
.mypy_cache
/*.egg-info/
/*.egg
/*.eggs
/.venv
/.tox
/.coverage
/.pytest_cache
/.pybuild
build/

debian/*.debhelper
debian/debhelper-build-stamp
debian/files
debian/*.substvars
debian/ircstream/
